.keyboard {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    background: #004152;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    user-select: none;
    transition: bottom 0.4s;
}

.keyboard--hidden {
    bottom: -100%;
}

.keyboard__keys {
    text-align: center;
    /* width: 1150px;
    display: flex;
    flex-wrap: wrap; */
}

.keyboard__key {
    text-decoration: none;
	color: #6b5770;
	background-image: linear-gradient(90deg, #fd7f34, #bd155b);
	display: inline-block;
    padding: 12px 17px;
	border: 1px solid;
	position: relative;
	z-index: 0;
	border-radius: 5px;
	box-sizing: border-box;
	margin: 0 15px 15px 0;
	outline: none;
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
}
.keyboard__key:before {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	background: linear-gradient(90deg, #fd7f34, #bd155b);
	z-index: -2;
	transition: .4s;
	border-radius: 5px;
}
.keyboard__key:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, #fff, #fff);
	z-index: -1;
	transition: .4s;
	border-radius: 4px;
}
.keyboard__key:hover {
	color: #fff;
	transition: .3s;
}
.keyboard__key:hover:after {
	background: linear-gradient(90deg, #fd7f34, #bd155b);
}
.keyboard__key:active:after {
	background: linear-gradient(90deg, #d96d2d, #760f3a);
}
.keyboard__key:focus-visible {
	box-shadow: 0 0 0 3px #fd7f34;
}
.keyboard__key:disabled {
	pointer-events: none;
}
.keyboard__key:disabled:before {
	filter: grayscale(100%);
}

.keyboard__key:active {
    background: rgba(255, 255, 255, 0.12);
    color: #212222;
}

.keyboard__key--wide {
    width: 12%;
}

.keyboard__key--extra-wide {
    width: 29%;
    max-width: 500px;
}

.keyboard__key--active::after {
    background: linear-gradient(90deg, #fd7f34, #bd155b);
}

.keyboard__key--dark {
    background: rgba(0, 0, 0, 0.25);
}

.use-keyboard-input{
    display: block;
    width: 700px;
    height: 200px;
    margin: 10px auto 10px;
    padding: 10px;
    font-size: 18px;
    color: #444444;
}

.keyboard__key--active{
    background: #08ff00;
}

.title{
    display: flex;
    text-align: center;
    color: #004152;
    justify-content: center;
}
